<div>
    <b>Total amount: {{totalPrice}}</b>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-card class="mb-1 m-1" *ngFor="let item of cartMovies; let i = index">
        <div fxLayout="row" fxLayoutAlign="end center">
            <button (click)="removeCartMovie(i)" class="delete-button">
                <i class="material-icons cursor-pointer">
                    remove_circle
                </i>
            </button>
        </div>
        <div>
            <img mat-card-image src="../../../assets/img/no-image.png" [alt]="item.movie.title" />
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-card-content>
                <p class="color-red">
                    {{ item.movie.title | slice:0:28 }}
                </p>
            </mat-card-content>
            <form (ngSubmit)="updateCartMovie(item, qty)" #form="ngForm">
                <mat-form-field class="qty-width-15">
                    <input matInput placeholder="QTY" type="number" name="qty" value="{{item.quantity}}" min="1" #qty />
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="accent">UPDATE QUANTITY</button>
                </mat-card-actions>
            </form>
            <div>
                <p>
                    <b>Quantity: {{ item.quantity }}</b>
                </p>
                <p>
                    <b>Price: {{ item.total }}</b>
                </p>
            </div>
        </div>
    </mat-card>
</div>