<mat-form-field fxLayout="row" fxLayoutAlign="end start">
  <input matInput placeholder="Search" (keyup)="searchValueKeyWord($event.target.value)" />
</mat-form-field>
<mat-paginator [length]="total" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
</mat-paginator>
<form novalidate [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" formArrayName="film">
    <mat-card class="mb-1" *ngFor="
      let movie of moviesFilter
        | slice
          : paginate.pageIndex * paginate.pageSize
          : (paginate.pageIndex + 1) * paginate.pageSize
    ">
      <div>
        <a [routerLink]="['/movies/film', movie.id]">
          <img mat-card-image src="../../../assets/img/no-image.png" [alt]="movie.title" />
        </a>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-card-content>
          <p class="color-red">
            {{ movie.title | truncate: [28, "..."] }}
          </p>
        </mat-card-content>

        <mat-form-field class="qty-width-15">
          <input matInput placeholder="QTY" formControlName="qty" />
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="addMovieToCart(movie)">ADD TO
            CART</button>
        </mat-card-actions>
        <div>
          <p>
            <b>Price: {{ movie.price }}</b>
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</form>