.example-card {
  max-width: 400px;
}

.title-decoration {
  color: red;
  font-weight: 600;
}

img {
  background-size: cover;
  object-fit: cover;
  width: 14em;
  height: 12em;
  margin: auto;
}

.mb-1 {
  margin-bottom: 1em;
}

.qty-width-15 {
  width: 18%;
}

.image-width-div {
  width: 14em;
  height: 11em;
}

.truncate{
  white-space: nowrap; 
  width: 14em; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
